<psk-container controller-name="HomePageController">
    <psk-condition condition="@isUploadPage">
        <psk-page title="Upload image">
            <psk-files-chooser label="Select files" event-name="chooseFile"></psk-files-chooser>
            <psk-button label="Send user data" event-name="get-photos">
                <psk-icon icon="user" color="rgb(255, 255, 255)"></psk-icon>
            </psk-button>
            <psk-condition condition="@isLoading">
                <p><strong>Loading...</strong></p>
            </psk-condition>
            <psk-condition condition="@loadingFinished">
                <p><strong>Success</strong></p>
            </psk-condition>
            <psk-for-each style="display: flex; flex-wrap: wrap; margin-top: 25px" data-view-model="entities">
                <div>
                    <psk-img src="@name"></psk-img>
                    <psk-button label="Details" event-name="photo-details" event-data="@photoName">
                        <psk-icon icon="user" color="rgb(255, 255, 255)"></psk-icon>
                    </psk-button>
                </div>
            </psk-for-each>
        </psk-page>
    </psk-condition>
</psk-container>
