<psk-container controller-name="ImageDetailsController">
    <psk-page title="Image details">
        <psk-img src="@imageURL"></psk-img>

        <psk-form controller-name="ImageDetailsController">
            <psk-form-row layout="xs=[12,12] m=[6,6] l=[12,12] xl=[6,6]">
                <psk-label view-model="commentTitle"></psk-label>
                <psk-text-input view-model="comment"></psk-text-input>
            </psk-form-row>
            <psk-button label="Submit" event-name="submit-comment"></psk-button>
        </psk-form>

        <psk-for-each data-view-model="comments">
            <div>
                <psk-label label="@comm"></psk-label>
            </div>
        </psk-for-each>
    </psk-page>
</psk-container>
